// fonts
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400&display=swap");

// special mixin's

@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@mixin button {
  font-family: $font;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

// colors and shortcuts

$font: "Kumbh Sans", sans-serif;

$grey: rgb(118, 118, 118);

// styling elements

* {
  margin: 0;
  padding: 0;
  font-family: $font;
}

.App {
  @include flex();
  width: 100%;
  height: 100vh;
}

// panels

.starting-panel {
  width: 100%;
  text-align: center;

  form {
    width: 300px;
    margin-left: calc(50% - 150px);
    @include flex();

    input {
      font-family: $font;
      width: 100%;
      height: 30px;
      border: none;
      border-bottom: 1px solid rgb(118, 118, 118);
      transition: 0.3s;
      font-size: 18px;
      text-align: center;
      outline: none;
    }

    button {
      font-size: 16px;
      @include button();
      margin: 10px auto;
    }
  }

  .welcoming-message {
    font-size: 20px;
    margin-top: 20px;
    width: 100%;
    text-transform: uppercase;
  }
}

.editing-panel {
  width: 100%;
  text-align: center;

  .message {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .input-message {
    text-align: center;
    font-family: $font;
    width: 300px;
    height: 30px;
    border: none;
    transition: 0.3s;
    font-size: 18px;
    text-align: center;
    outline: none;
  }

  .editing-tools {
    @include flex();
    height: 40px;
    transition: 0.3s;

    button {
      font-size: 16px;
      @include button();
      margin: 10px 5px;
      padding: 0 5px;
      border-left: 1px solid black;
    }
  }

  .hidden {
    height: 0px;
    transition: 0.3s;
    overflow: hidden;
  }

  form {
    width: auto;
    @include flex();

    .code-selector {
      width: 100%;
    }

    .action-buttons {
      height: 40px;

      button {
        font-size: 16px;
        @include button();
        margin: 10px 5px;
      }
    }
  }
}
