// fonts
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400&display=swap");

// special mixin's

@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@mixin button {
  font-family: $font;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

// colors and shortcuts

$font: "Kumbh Sans", sans-serif;

$grey: rgb(118, 118, 118);

// styling elements

* {
  margin: 0;
  padding: 0;
  font-family: $font;
}

.App {
  @include flex();
  width: 100%;
  height: 100vh;
}

.main-panel {
  width: 100%;
  text-align: center;

  form {
    width: 100%;

    input {
      font-family: $font;
      width: 300px;
      height: 30px;
      border: none;
      border-bottom: 1px solid rgb(118, 118, 118);
      transition: 0.3s;
      font-size: 18px;
      text-align: center;
      outline: none;

      &:hover {
        width: 320px;
      }

      &:focus {
        width: 340px;
      }
    }

    button {
      font-family: $font;
      font-size: 16px;
      @include button();
      padding: 3px 6px;
      margin-top: 10px;
      margin: 10px auto;
    }
  }

  .welcoming-massage {
    font-size: 20px;
    margin-top: 20px;
    width: 100%;
    text-transform: uppercase;
  }
}
